html { 
	overflow: -moz-scrollbars-vertical; 
	overflow: scroll; 
	overflow-y: scroll;
}

body {
	padding-top: 70px;
}

.navbar-brand {
	height: 50px;
	padding-top: 0;
    padding-bottom: 0;
}

.show {
	margin-bottom: 50px;
	min-height: 200px;
}

.showName.panel-heading,
.movieName.panel-heading {
	min-height: 71px;
	height: 71px;
}

.showLogo, 
.movieLogo {	
	display: block;
    margin-left: auto;
    margin-right: auto;
	min-height: 50px;
	height: 50px;
}

#shows .thumbnail {
	min-height: 230px;
	height: 230px;
}

.thumbnail  img.showPoster {
	min-height: 220px;
	height: 220px;
}

table.episodes {
	margin-top: 10px;
}

table.episodes  tr td{
	font-weight: bold;
}

.panel-title {
	font-weight: bold;
}

div.panel-body {
	/* background: url('../img/no_fanart.jpg') repeat-y top center; */
	background-size: 100% auto;
}

div.moviePlot {
	padding: 0;
}

div.moviePlot div.panel-heading{
	font-weight: bold;
}

div#shows, div#movies {
	display: none;
}

ul#latestShows li,
ul#latestMovies li {
	text-align: center;
}

div.epLabel {
	max-width: 200px;
	margin-top: 5px;
	font-size: 8pt;
	font-weight: bold;
	line-height: 15px;
	text-align: center;

}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
}

.jcarousel img {
	margin: 0 10px;
    max-width: 150px;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}
