html { 
	overflow: -moz-scrollbars-vertical; 
	overflow: scroll; 
	/* overflow-y: scroll; *doesn’t work with firefox*/ 
}

body {
	padding-top: 70px;
}

.show {
	margin-bottom: 50px;
	min-height: 200px;
}

.showName.panel-heading {
	min-height: 71px;
	height: 71px;
}

.showLogo {	
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.season {

}

.thumbnail {
	min-height: 230px;
	height: 230px;
}
.thumbnail  img.showPoster {
	min-height: 220px;
	height: 220px;
}

table.episodes {
	margin-top: 10px;
}

table.episodes  tr td{
	font-weight: bold;
}

.panel-title {
	font-weight: bold;
}

div.panel-body.lazy {
	/* background: url('../img/no_fanart.jpg') repeat-y top center; */
	background-size: 100% auto;
}

div#shows {
	display: none;
}