RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "([^/]+)/([^/]+)/([^/]+)/([^/]+).(jpg|png)$" api.php?get=$4&$1=$2&season=$3 [B,NE,L]
RewriteRule "([^/]+)/([^/]+)/([^/]+).(jpg|png)$" api.php?get=$3&$1=$2 [B,NE,L]

